* {
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #026cdf;
  border: solid;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  color: #24242b;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.main-header {
  height: 80vh;
  background-image: url("https://www.icmp.ac.uk/sites/default/files/new/how_to_promote_live_events_blog_2022_1.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid; */
  gap: 30%;
}

.top-header {
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-items: center;
  background-color: #026cdf;
  width: 100%;
  /* border: solid; */
}

.top-header h2 {
  font-size: 2em;
}

.selling-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 1.6em;
}

.cta {
  /* border: solid; */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
}
.sub-cta {
  /* border: solid; */
  margin-top: 20px;
  width: 50%;
  display: flex;
  gap: 2%;
  align-items: center;
}

.sub-cta input {
  width: 70%;
  height: 40px;
  opacity: 0.6;
}
.sub-cta button {
  width: 30%;
}

/* ------- */

.steps-cont {
  padding-top: 50px;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.steps-cont header h1 {
  font-size: 3em;
}
.steps-cont section {
  /* border: solid red; */
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  height: 400px;
  align-items: center;
  margin-bottom: 20px;
}

.steps-cont section img {
  height: 200px;
}

.steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  width: 50%;
}

.steps h2 {
  font-size: 2.7em;
}
.steps p {
  font-size: 1.2em;
}

.divider {
  height: 10px;
  width: 100%;
  background-color: #026cdf;
  opacity: 0.6;
}

/* ------------------ */
.faq-comp{
  background-color: rgb(153, 104, 104);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq-comp h1{
  margin-bottom: 15px;
}
.qna{
  border: solid green;
  width: 70%;

}
.questions{
  width: 100%;
  height: 30px;
  cursor: pointer;
}


/* animation classes- answer, show, hide */

.answer {
  transition: ease-out 1s;  /*the animation and length*/
} 

.show{
  max-height: 100%;  /*stop the text overflowing with the question num 2*/
  opacity: 1;
}

.hide{
  max-height: 0; /*gets rid of the max hide used on .show*/
  opacity: 0;
}



/*  */